{extends layout.latte}

{block title}Pridani osoby{/block}

{block body}
    <form action="{link createPerson}" method="post">
        <label>Jmeno</label>
        <input type="text" name="fn" class="form-control" required>
        <br>
        <label>Prijmeni</label>
        <input type="text" name="ln" class="form-control" required>
        <br>
        <label>Prezdivka</label>
        <input type="text" name="nn" class="form-control" required>
        <br>
        <label>Datum narozeni</label>
        <input type="date" name="bd" class="form-control">
        <br>
        <label>Vyska</label>
        <input type="number" name="h" class="form-control">
        <br>
        <label>Pohlavi</label>
        <select name="g" class="form-control">
            <option value="">Nezname</option>
            <option value="male">Muz</option>
            <option value="female">Zena</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Pridat
        </button>
    </form>
{/block}