{extends layout.latte}

{block title}Vypis osob{/block}

{block body}

    <form action="{link index}">
        <input type="text" name="search" class="form-control">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
            Hledat
        </button>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Jmeno</th>
            <th>Prezdivka</th>
            <th>Pohlavi</th>
            <th>Vyska</th>
            <th>Datum narozeni</th>
        </tr>
        {foreach $persons as $p}
            <tr>
                <td>{$p['first_name']} {$p['last_name']}</td>
                <td>{$p['nickname']}</td>
                <td>{$p['gender']}</td>
                <td>{$p['height']}</td>
                <td>{$p['birth_day']}</td>
            </tr>
        {/foreach}
    </table>

{/block}